/* body { 
    background: url('/src/component/authen/signup/pawel-nolbert-62OK9xwVA0c-unsplash.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
  } */

